.hamburger-menu {
  width: 12px;

  .accordion-link {
    font-family: Helvetica Neue, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    transition: 0.3s;
    opacity: 1;
  }

  .accordion-link:hover {
    color: #0bc4b8;
    transition: 0.1s;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
    left: 5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 28px;
  }

  #menuToggle input {
    display: flex;
    margin: 0;
    width: 30px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle div {
    display: flex;
    width: 20px;
    height: 2.5px;
    margin-bottom: 3.5px;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 2px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.3s ease;
  }

  #menuToggle div:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle div:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~div {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, 0px);
    background: #0bc4b8;
  }

  #menuToggle input:checked~div:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~div:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -3px);
  }

  #menu {
    position: absolute;
    width: 200px;
    height: 900px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 90px;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 1.5s;
  }

  #menuToggle input:checked~ul {
    transform: none;
  }

}