.hamburger {

  label,
  label::before,
  label::after {
    position: absolute;
    width: 60px;
    height: 8px;
    border-radius: 4px;
    background: #fff;
    transition: 0.6s;
    -webkit-transition: 0.3s;
  }

  label {
    cursor: pointer;
    top: 10%;
  }

  label::before {
    content: "";
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }

  label::after {
    content: "";
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }

  #menu:checked+label {
    width: 0px;
  }

  #menu:checked+label::before {
    transform: rotate(225deg) translate(0px);
    -webkit-transform: rotate(225deg) translate(0px);
  }

  #menu:checked+label::after {
    transform: rotate(-225deg) translate(0px);
    -webkit-transform: rotate(-225eg) translate(0px);
  }
}