.hamburger-container {

  label,
  label::before,
  label::after {
    position: absolute;
    width: 19px;
    height: 3px;
    border-radius: 4px;
    background: #fff;
    transition: 0.6s;
    -webkit-transition: 0.3s;
  }

  label {
    cursor: pointer;
    z-index: 99;
    margin-top: -25px;
  }

  label::before {
    content: "";
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
  }

  label::after {
    content: "";
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
  }

  #menu {
    display: none;
  }

  #menu:checked+label {
    width: 0px;
  }

  #menu:checked+label::before {
    transform: rotate(45deg) translate(0px);
    -webkit-transform: rotate(45deg) translate(0px);
  }

  #menu:checked+label::after {
    transform: rotate(-45deg) translate(0px);
    -webkit-transform: rotate(-45deg) translate(0px);
  }

  .dropdown-menu {
    background-color: rgb(0, 8, 117);
    height: 0px;
    width: 0px;

    #menu:checked+.dropdown-menu {
      display: block;
      background-color: orangered;
    }
  }
}