@import './login-register.scss';
@import './navbar.scss';
//@import './movielist.scss';
@import './test.scss';
@import './movie-item.scss';
@import './hamburger.scss';
@import './leftarrow.scss';
@import './rightarrow.scss';
@import './startpage.scss';
@import './listbutton.scss';

body {
  background-color: #070707;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Comfortaa', 'Monoton', 'Raleway Dots';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.increase-size:hover {
  transform: scale(1.1);
  z-index: 10;

}