@import './mixin-var.scss';

.login-register-container {
  @include size(100%, 100vh);
  @include display(column, center, center);
  margin-top: -60px;

  .login-register {

    @include size(80%, 50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);

    @media (min-width: 667px) {
      @include size(50%, 40%);
    }
  }

  .header-description {
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgb(29, 33, 33);
    border-bottom: 0.5px solid #0bc4b8;
    color: rgb(255, 255, 255);

    @media (min-width: 667px) {
      font-size: 1.2em;
    }
  }

  form {
    @include display(column, space-evenly, unset);
    font-size: 14px;
    height: -webkit-fill-available;
    max-height: 100%;
    padding: 10px 10px;
    background-color: rgb(29, 33, 33);
    padding-top: 20px;

    @media (min-width: 1200px) {
      padding: 20px 60px;
      font-size: 16px;
    }

    p {
      display: inline;
      margin-right: 5px;
      font-size: 10px;
    }
  }

  .error-message {
    font-size: 14px;
    color: red;
  }

  label {
    align-self: center;
    @include colors(#666666, white);
    width: 90%;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
  }

  input {
    @include size(100%, 25px);
    background-color: white;
    font-size: 16px;
    border: none;

    @media (min-width: 1200px) {
      width: 75%;
    }
  }

  button {
    align-self: center;
    border: none;
    font-size: 12px;
    margin: 10px 0;
    padding: 5px 60px;
    border-radius: 2px;
    background-color: rgb(33, 81, 154);
    color: white;
    font-weight: 500;
    font-family: "Roboto";
    letter-spacing: 1px;

    @media (min-width: 667px) {
      font-size: 12px;
    }
  }

  .link-section {
    font-size: 14px;
    text-align: center;
    background-color: #0bc4b8;
    margin: 0;
    padding: 6px;
    padding-left: 20px;
    padding-top: 14px;

    @media (min-width: 667px) {
      font-size: 17px;
    }
  }

  a {
    margin-left: 3px;
    text-decoration: none;
    color: rgb(34, 70, 111);
    font-size: 14px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 500;

  }

  a:hover {
    border-bottom: 1px solid coral;
  }
}