$accent-color: #56f2db;
$accent-color-dark: rgb(0, 140, 131);
$search-field-gray: #d9fef4d2;
$accent-orange: #ff3246;

@mixin colors($color, $background) {
  color: $color;
  background-color: $background;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin display($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin details-title {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  color: #008c83;
}