.titlePil {
  display: flex;
  background-color: red;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

h4 {
  width: 7%;
  background-color: magenta;
}

.rightArrowContainer {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  background-color: mediumaquamarine;
}