.movie-item {
  color: white;
 
  a {
    color:white;
    text-decoration: none;

    &:hover {
      color: cornflowerblue;
    }
  }

  .movie-title-rating {
    display: flex;
  }

  .imdbRatingPlugin {
    display: flex;
    align-items: center;

    a {
      margin-right: 5px;
    }
  }
}

