@import './mixin-var.scss';

.movie-item {
  color: white;

  .movie-overview-container {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
  }

  .movie-overview {
    @media (min-width: 1024px) {
      width: 60%;
    }
  }

  .movie-overview-title {
    display: inline;
  }

  h4 {
    margin: 10px 0;
    margin-right: 5px;
  }
 
  a {
    color:white;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }

  .movie-poster {
    width: 40%;
  }

  .movie-title-rating {
    display: flex;
  }

  .imdbRatingPlugin {
    width: fit-content;
    display: inline-flex;
    align-items: flex-end;
    margin: 10px 0;

    a {
      margin-right: 5px;
    }

    p {
      display: inline;
    }
  }

  .movie-genre {
    a {
      margin-right: 10px;
      padding: 4px;
      background: #18A5CC;
      text-decoration: none;
    }
  }

  iframe {
    width: 100%; 
    margin: 20px 0;

    @media (min-width: 668px) {
      width: 70%;
    }
  }

  .review-container {
    padding: 15px 20px;
    margin-bottom: 20px;

    .hide {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  
    .author {
      color: $accent-color;
      display: block;
      font-weight: bold;
      margin-left: 15px;
      margin-top: 10px;
  
      span {
        color: white;
        font-size: 14px;
        font-style: italic;
        font-weight: lighter;
      }
    }
  
    .show-more-less-link {
      font-size: 14px;
      text-decoration: underline;
    }
  }
  
}

