.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 98;
  border-bottom: 4px solid rgb(0, 24, 22);
  background-color: black;


  .navleft {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 9px;
    width: 40%;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: 30px;
  }

  h3 {
    font-family: Monoton;
    font-weight: 400;
    font-size: 28px;
    color: rgb(86, 242, 219);
    text-decoration-color: black;
    margin-bottom: 0px;
  }

  h3 .find {
    color: rgb(0, 140, 131);
    text-decoration-color: black;
  }

  .signin-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 64px;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: arial;
    font-weight: 700;
    font-size: 12px;
  }

  .signin:hover {
    color: rgb(86, 242, 219);

    &:hover+.right-arrow-container {
      transition: 0.3s;
      width: 14px;
    }
  }

  .right-arrow-container {
    border-radius: 60%;
    width: 14px;
    height: 12px;
    margin-left: 5px;
    cursor: pointer;
    fill: rgb(86, 242, 219);
    position: relative;
  }

  .right-arrow-container:hover {
    transition: 0.3s;

  }
}