.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
  align-items: flex-end;
  height: 36px;
  margin-bottom: 30px;

  a {
    color: white;
    text-decoration: none;
  }

  h3 {
    font-family: Monoton;
    font-weight: 400;
    font-size: 28px;
    color: rgb(86, 242, 219);
    text-decoration-color: black;
    margin-bottom: -4px;
  }

  h3 .find {
    color: rgb(0, 140, 131);
    text-decoration-color: black;
  }

  .signin {
    font-family: arial;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 2px;


  }
}