.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 20px;
  align-items: flex-end;

}

.welcome {
  font-size: 22px;
  font-family: Helvetica neue;
  margin-top: 22px;
  font-weight: bold;
}

button {
  color: rgb(0, 0, 0);
  background-color: rgb(103, 199, 177);
  border: none;
  font-size: 11px;
  font-family: helvetica neue;
}