.welcome-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: fit-content;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 200;

  .welcome {
    font-size: 26px;
    font-family: monospace;
    font-weight: 500;
  }

  h6 {
    font-size: 13px;
    font-family: monospace;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 16px;
    text-align: center;
    width: 60%;
    line-height: 18px;
  }

  .watch-list-container {
    border: 0px solid rgb(4, 121, 121);
    border-radius: 5px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .emoji {
    font-size: 24px;

  }

  .watch-item {
    display: flex;
    justify-content: space-between;
    width: 520px;
    border-radius: 0px;
    background-color: rgb(160, 189, 186);
    margin-bottom: 20px;
    padding: 20px;
    height: 170px;
  }

  .movie-link {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  .right-container {
    color: rgb(0, 83, 92);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 46%;
    justify-content: space-between;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

  }

  .year {
    margin-top: 0px;
    font-weight: 500;
    text-decoration: none;

  }

  p {
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: black;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 14px;
    text-decoration: none;
  }

  .remove-button {
    background-color: #fe3748;
    color: rgb(255, 255, 255);
    width: fit-content;
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
    text-decoration: none;

  }

  .movie-image {
    display: flex;
    flex-direction: column;
    height: 130px;
    border: solid 4px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 4px 4px rgb(130, 155, 160);
  }

  button {
    color: rgb(0, 210, 178);
    background-color: black;
    border: none;
    font-size: 11px;
    font-family: "Roboto";
    text-align: end;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
    z-index: 99;
  }
}