.random-button {
    border-radius: 1px;
    width: 148px;
    height: 20px;
    background-color: #0075a7;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    border: none;
    font-size: 12px;
    padding-left: 8px;
    padding-bottom: 2.5px;
    cursor: pointer;

    &.mobile-hamburger-menu {

      @media (min-width: 1024px) {
        display: none;
      }
    }

    &.desktop-navbar-menu {
      margin-right: 30px;

      @media (max-width: 1024px) {
        display: none;
      }
    }  
}

//background-color: #ff3246;