.random-button {

  button {
    fill: "red";
    border-radius: 1px;
    margin-right: 30px;
    width: 148px;
    height: 20px;
    background-color: #0075a7;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    border: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-bottom: 2.5px;
  }
}

//background-color: #ff3246;