.right-arrow-container {
  display: inline;
  border-radius: 60%;
  width: 20px;
  height: 18px;
  padding-top: 1.0px;
  margin-left: 8px;
  cursor: pointer;
  fill: rgb(86, 242, 219);

  .right-arrow-container:hover {
    transition: 0.3s;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}