@import './mixin-var.scss';

.searchbar-container {
  position: relative;
  width: 220px;

  &.mobile-hamburger-menu {
    margin-top: 25px;
    width: 108px;

    @media (min-width: 668px) {
      display: none;
    }
  }

  &.desktop-navbar-menu {
    margin-right: 30px;

    @media (max-width: 668px) {
      display: none;
    }
  }

  .searchbar-and-filter {
    display: flex;
    height: 20px;
  
    select {
      width: 20px;
      border-radius: 1px 0 0 1px;
      background-color: $search-field-gray;
      border: none;
      border-right: 1px solid rgb(133, 177, 174);
    }
  
    input {
      @include colors(rgb(0, 0, 0), $search-field-gray);
      border: none;
      width: -webkit-fill-available;
  
      &:focus {
        outline: none;
        border: 1px solid $accent-color;
      }
    }
  
    .search-emoji {
      background-color: $search-field-gray;
      padding-right: 2px;
      font-size: 12px;
      padding-top: 1px;
    }
  }

  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    width: 0px;
    overflow: hidden;
  
    &.visible {
      @include colors(black, #3f3f3f);
      position: absolute;
      top: 20px;
      height: fit-content;
      width: 146px;
      z-index: 50;

      @media (min-width: 668px) {
        width: 220px;
      }
  
      button {
        @include colors(white, $accent-color-dark);
        width: fit-content;
        border: none;
        border-radius: 5px;
        margin: 5px;
        padding: 3px 8px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: inherit;
      padding: 9px 6px;
      width: 100%;
      border-bottom: 1px solid white;
      font-size: 12px;
  
      &:hover {
        color: $accent-color;
      }

      .right-arrow-container {
        display: inline;
        position: unset;
        margin-left: 4px;
        width: 14px;
        height: 14px;

        svg {
          fill: rgb(86, 242, 219);
          margin-top: 7px;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}


