.moviesWrapper {
  display: flex;
  margin-top: 50px;
  padding: 0 55px;
  //overflow: hidden;
}

.movieWrapper {
  flex: 0 0 80%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 120ms;
}

.moviesWrapper:hover .movieWrapper {
  transform: translateX(-25%);
}

.movieWrapper:hover~.movieWrapper {
  transform: translateX(25%);
}

.moviesWrapper .movieWrapper:hover {
  transform: scale(1.5);
}

.arrows {
  width: 48px;
  height: 48px;
  border-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  color: yellow;
}

.prev {
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(45deg);
  left: 10px;
}

.next {
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(-135deg);
  right: 10px;
}


