@import './mixin-var.scss';

.watchlistbuttonextended {
  button {
    @include button(2px, 3px 8px);
    @include colors(white, $accent-color-dark);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;

    &.added {
      @include colors(white, $accent-color-yellow);
    }
  }

  .added-button {
    height: 9px;
    width: 8px;
  }
}