@import './mixin-var.scss';

.movie-details {
  button {
    @include button(5px, 4px 10px);
    @include colors(white, $accent-color-dark);
    position: absolute;
    top: 10px;
    right: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;

    &.added {
      @include colors(white, $accent-color-yellow);
    }
  }

  .added-button {
    height: 9px;
    width: 7px;
    padding-left: -3px;
  }
}