.movie-details {
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 20px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 600;
    background-color: rgb(0, 140, 131);
    margin-bottom: 14px;
    margin-top: 24px;
    border: none;
    color: white;
    padding: 4px 8px;
    letter-spacing: 1px;


    &.added {
      background-color: rgb(80, 132, 187);
    }
  }
}